.contact {
  background-image: url(../src/mainBG.png);
}
.contacts {
  margin-top: 150px;
}
.conTop {
  display: flex;
  justify-content: space-between;
}
.conBottom {
  position: relative;
  padding: 56px 60px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.27);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8.5px);
  margin-bottom: 70px;
}
.con_img {
  position: absolute;
  right: 0;
  top: 0;
}
.con_img img {
  width: 500px;
}
.conBottom h1 {
  margin-bottom: 60px;
}
.email {
  width: 519px;
  height: 64px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 14px;
  text-indent: 20px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(2px);
}
.area {
  width: 519px;
  padding-top: 20px;
  height: 140px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 14px;
  text-indent: 20px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(2px);
}
.conBtn {
  cursor: pointer;
  width: 180px;
  padding: 14px 24px;
  border-radius: 12px;
  background: #1d9a6d;
  box-shadow: 0px 4px 16px 0px rgba(75, 72, 241, 0.41);
}
::placeholder {
  color: #fff;
}
.w100 {
  width: 200px;
}
