.xiz_cards {
  margin-bottom: 50px;
}
.xiz_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 30px;
  margin-bottom: 25px;
  border-radius: 14px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.09) 0%,
    rgba(255, 255, 255, 0.12) 100%
  );
  box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.07);
}
.xizh1 {
  text-align: center;
  margin: 20px 0;
}
.xiz_card h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 46.875% */
}
.xiz_card p {
  padding: 22px 20px;
  border-radius: 14px;
  opacity: 0.9;
  background: linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%);
}
